<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css" />
  <title>Citizen Complaint Portal</title>
</head>

<body>
    <center>
      <div class="bg-dark p-4 text-light bg-opacity-0"><h1>Citizen Complaint Portal</h1></div>
        <br>
        <br>
        <a href="#"><h2><button type="button" class="btn btn-primary btn-lg">Register a Complaint</h2></a>
        <br>
        <a href="{% url 'StatusComplaints' %}"><h2><button type="button" class="btn btn-primary btn-lg">Track Status of your Complaints</h2></a>
        <br>
        <a href="#"><h2><button type="button" class="btn btn-primary btn-lg">Reopen a Complaint</h2></a>
        <br>
        <a href="#"><h2><button type="button" class="btn btn-primary btn-lg">Info on the Authority who has your Complaint</h2></a>
        <br>
        <a href="#"><h2><button type="button" class="btn btn-primary btn-lg">Write a Feedback for your Complaint</h2></a>
        <br>
        <br>
        <a href="{% url 'CitizenPortal' %}" class="btn btn-danger btn-user btn-block">
            Go Back
        </a>
    </center>
</body>
</html>